Repository ipenywis/your-react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

Add twin.macro with emotion to web
  apps/docs/globals.css
  apps/docs/package.json
  apps/docs/pages/_app.tsx
  apps/docs/postcss.config.js
  apps/docs/tailwind.config.js
  apps/web/.babelrc.js
  apps/web/globals.css
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/index.tsx
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  packages/eslint-config-custom/index.js
  yarn.lock
Due: yarn lint, prettier --write

Setup Jest with react-testing-library for web
  apps/web/babel.config.js.old
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/index.tsx
  apps/web/tests/index.test.tsx
  package.json
  packages/ui/index.tsx
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: yarn lint, prettier --write

Add MSW for web
  apps/web/mocks/browser.js
  apps/web/mocks/handlers.js
  apps/web/mocks/index.js
  apps/web/mocks/server.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/public/mockServiceWorker.js
  turbo.json
  yarn.lock
Due: yarn lint, prettier --write

Final commit
  .lintstagedrc.json
  apps/web/components/OAuthButtonGroup.tsx
  apps/web/components/ProviderIcons.tsx
  apps/web/components/registerForm.tsx
  apps/web/globals.css
  apps/web/mocks/handlers.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/index.tsx
  apps/web/pages/signup.tsx
  apps/web/tests/index.test.tsx
  packages/eslint-config-custom/index.js
  yarn.lock
Due: yarn lint, prettier --write

Senior Project Setup
  apps/web/babel.config.js.old
  apps/web/pages/index.tsx
Due: yarn lint

Update README
  README.md
  images/project-setup.png
Due: none

refactor: migrate yarn to pnpm
  .node-version
  .npmrc
  .vscode/extensions.json
  .vscode/settings.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write

Path conditions:
  yarn lint: (any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
